.body {
  background-image: url(../Images/BackGround/BG.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 1027px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.logo {
  display: flex;
  text-decoration: none;
  color: white;
  margin-bottom: 22px;
  margin-top: 51px;
  flex-direction: row;
}

.logo:hover {
  color: #f26522;
  transition: 1s;
}

.logo-text {
  padding-left: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-text-up {  
  font-size: 29px;
}

.logo-text-down {
  font-size: 18px;
  padding-top: 3px;
}

.contacts {
  padding-top: 46px;
  text-align: right;
  font-size: 18px;
}

.contacts a:hover {
  color: #f26522;
  transition: 1s;
}

.contacts a {
  text-decoration: none;
  color: white;
}

.phone {
  padding-top: 19px;
}

.wrapper {
  margin: auto;
  width: 1027px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 261px);
  grid-gap: 37px 61px;
}

.title {
  color: white;
  text-align: center;
  padding-top: 20px;
}

.item-photo {
  width: 300px;
  height: 220px;
}
.footer {
  padding: 40px 0 15px 0;
  color: white;
  text-align: center;
}

.link {
  text-decoration: none;
}

.content-item {
  position: relative;
}

.drop-up {
  display: block;
  opacity: 0;
  top: 184px;
  left: 2.5px;
  position: absolute;
  border: none;
  background-color: #f26522;
  width: 295px;
  height: 55px;
}

.content-item:hover .drop-up {
  opacity: 1;
  transition: 1s;
  transform: translateY(-20px);
}

.content-item:hover .title {
  color: #f26522;
  transition: 1s;
}

.drop-text {
  color: white;
  font-size: 10px;
  padding: 7px 0 0 12px;
}

.drop {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.details::after {
  padding: 1px 0 0 16px;
  content: url(../Images/Content/Vector.svg);
}

.word-from {
  padding: 7px 0 0 16px;
}

.cost {
  font-size: 20px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.details {
  font-size: 14px;
  padding-right: 14px;
  padding-bottom: 12px;
}
